<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebuy.tax.user.implementation.invited.mapper.InvitedMapper">

    <!-- 通用查询结果列 -->
    <sql id="UserAll_column">
         user.id as id,
         user.invite_user_id as inviteUserId,
         user.invited_user_id as invitedUserId,
         user.invited_name as invitedName,
         user.invited_mobile as invitedMobile,
         user.invited_sex as invitedSex,
         user.company_id as companyId,
         user.invited_age as invitedAge,
         user.invited_position as invitedPosition,
         user.reseve1 as reseve1,
         user.reseve2 as reseve2,
         user.reseve3 as reseve3,
         user.is_del as isDel,
         user.create_time as createTime,
         user.update_time as updateTime
    </sql>


    <sql id="UserAll_where">
        <where>
            1=1
            <if test="id != null and id !=''">
              AND user.id = #{id}
            </if>

            <if test="inviteUserId != null and inviteUserId !=''">
                AND user.invite_user_id = #{inviteUserId}
            </if>

            <if test="invitedUserId != null and invitedUserId !=''">
                AND user.invited_user_id = #{invitedUserId}
            </if>

            <if test="invitedName != null and invitedName !=''">
                AND user.invited_name like '%' #{invitedName} '%'
            </if>

            <if test="invitedMobile != null and invitedMobile !=''">
                AND user.invited_mobile = #{invitedMobile}
            </if>

            <if test="invitedSex != null and invitedSex !=''">
                AND user.invited_sex = #{invitedSex}
            </if>

            <if test="companyId != null and companyId !=''">
                AND user.company_id = #{companyId}
            </if>

            <if test="invitedAge != null and invitedAge !=''">
                AND user.invited_age = #{invitedAge}
            </if>

            <if test="invitedPosition != null and invitedPosition !=''">
                AND user.invited_position = #{invitedPosition}
            </if>

            <if test="reseve1 != null and reseve1 !=''">
                AND user.reseve1 = #{reseve1}
            </if>

            <if test="reseve2 != null and reseve2 !=''">
                AND user.reseve2 = #{reseve2}
            </if>

            <if test="reseve3 != null and reseve3 !=''">
                AND user.reseve3 = #{reseve3}
            </if>

            <if test="isDel != null and isDel !=''">
                AND user.is_del = #{isDel}
            </if>

            <if test="createTime != null and createTime !=''">
                AND user.create_time = #{createTime}
            </if>

            <if test="updateTime != null and updateTime !=''">
                AND user.update_time = #{updateTime}
            </if>

        </where>
    </sql>

    <sql id="UserAll_table">
        FROM
		tax_invited invited
    </sql>

    <!-- 查全部 -->
    <select id="queryList" resultType="com.ebuy.tax.user.api.invited.entity.Invited"
            parameterType="com.ebuy.tax.user.api.invited.entity.Invited">
        SELECT
        <include refid="UserAll_column" />
        <include refid="UserAll_table" />
        <include refid="UserAll_where" />
    </select>

    <!-- 查数量 -->
    <select id="queryCount" resultType="java.lang.Integer"
            parameterType="com.ebuy.tax.user.api.invited.entity.Invited">
        SELECT
        count(1)
        <include refid="UserAll_table" />
        <include refid="UserAll_where" />
    </select>

    <!-- 分页查询列表 -->
    <select id="queryListForPage" resultType="com.ebuy.tax.user.api.invited.entity.Invited">
        select
        <include refid="UserAll_column" />
        <include refid="UserAll_table" />
        <if test="entity.id != null and entity.id !=''">
            AND user.id = #{entity.id}
        </if>
        <if test="entity.inviteUserId != null and entity.inviteUserId !=''">
            AND user.invite_user_id = #{entity.inviteUserId}
        </if>
        <if test="entity.invitedUserId != null and entity.invitedUserId !=''">
            AND user.invited_user_id = #{entity.invitedUserId}
        </if>
        <if test="entity.invitedName != null and entity.invitedName !=''">
            AND user.invited_name like '%' #{entity.invitedName} '%'
        </if>
        <if test="entity.invitedMobile != null and entity.invitedMobile !=''">
            AND user.invited_mobile = #{entity.invitedMobile}
        </if>
        <if test="entity.invitedSex != null and entity.invitedSex !=''">
            AND user.invited_sex = #{entity.invitedSex}
        </if>
        <if test="entity.companyId != null and entity.companyId !=''">
            AND user.company_id = #{entity.companyId}
        </if>
        <if test="entity.invitedAge != null and entity.invitedAge !=''">
            AND user.invited_age = #{entity.invitedAge}
        </if>
        <if test="entity.invitedPosition != null and entity.invitedPosition !=''">
            AND user.invited_position = #{entity.invitedPosition}
        </if>
        <if test="entity.reseve1 != null and entity.reseve1 !=''">
            AND user.reseve1 = #{entity.reseve1}
        </if>
        <if test="entity.reseve2 != null and entity.reseve2 !=''">
            AND user.reseve2 = #{entity.reseve2}
        </if>
        <if test="entity.reseve3 != null and entity.reseve3 !=''">
            AND user.reseve3 = #{entity.reseve3}
        </if>
        <if test="entity.isDel != null and entity.isDel !=''">
            AND user.is_del = #{entity.isDel}
        </if>
        <if test="entity.createTime != null and entity.createTime !=''">
            AND user.create_time = #{entity.createTime}
        </if>
        <if test="entity.updateTime != null and entity.updateTime !=''">
            AND user.update_time = #{entity.updateTime}
        </if>
        order by CREATE_TIME desc
        limit #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER};
    </select>

    <select id="queryEntityByInvitedEntity" resultType="com.ebuy.tax.user.api.invited.entity.Invited">
        SELECT
        <include refid="UserAll_column" />
        <include refid="UserAll_table" />
        <include refid="UserAll_where" />
    </select>
</mapper>
