<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebuy.tax.user.implementation.sequence.mapper.SequenceMapper">

    <resultMap id="BaseResultMap" type="com.ebuy.tax.user.api.sequence.entity.Sequence">
		<result column="value" property="value" jdbcType="VARCHAR" />
	</resultMap>

	<select id="select" resultMap="BaseResultMap" parameterType="com.ebuy.tax.user.api.sql.entity.AdapterSql" >
		${sql}
	</select>
</mapper>
